<div class="container">
    <h1>Use Case #12: Route Optimization for Freight Forwarding</h1>
    <h2>Innovation Challenge 2025</h2>
</div>

<div class="details-container">
    <ul>
        <li>Hosted by: <b>i-LogiX - Capgemeni</b></li>
        <li>Hosted at: <b>TZ-PULS, Bräuhausgasse 33, 84130 Dingolfing</b></li>
    </ul>

    <ul>
        <li><b>Team Member:</b> <a href="https://www.linkedin.com/in/tobias-bosl-903646232/" target="_blank">Tobias
            Bosl</a></li>
        <li><b>Team Member:</b> <a href="https://www.linkedin.com/in/tjorven-burdorf-97a011214/" target="_blank">Tjorven
            Burdorf</a></li>
        <li><b>Team Member:</b> <a href="https://www.linkedin.com/in/bastian-h%C3%B6schl-08071b355/" target="_blank">Bastian
            Höschl</a></li>
        <li><b>Team Member:</b> <a href="https://www.instagram.com/kirschner_mathias/" target="_blank">Mathias
            Kirschner</a></li>
        <li><b>Team Member:</b> <a href="https://www.linkedin.com/in/korbinian-zormeier-5b0296356/" target="_blank">Korbinian
            Zormeier</a></li>
    </ul>
</div>

<img id="all" src="/Inno_Challenge_2025.jpg" alt="Setup">
<img id="tj" src="/tj.jpg" alt="TJ">
