<div class="container">
    <h1>Welcome to the Route Optimization App!</h1>
</div>

<div class="container">
    <div class="container vertical-container">
        <div class="vertical-container">
            <label for="driverSelect">Select a Driver: </label>
            <select [(ngModel)]="selectedTruckDriver" id="driverSelect" (change)="onSelectTruckDriver()">
                <option *ngFor="let driver of truckDrivers" [ngValue]="driver">
                    {{ driver.firstName }} {{ driver.lastName }}
                </option>
            </select>
        </div>

        <div class="space"></div>

        <div class="vertical-container">
            Changes:
            <div [ngClass]="{'blink': changes > 0}" class="circle-container">
                <p id="signifier">{{ changes }}</p>
            </div>
        </div>

        <div class="space"></div>

        <button (click)="onClick()">Start Route Optimization</button>
    </div>
</div>

<div class="content-container">
    <div class="info-container">
        <h3>Driver: {{ selectedTruckDriver?.driverId ?? "- - -" }}</h3>
        <p *ngIf="selectedTruckDriver && !filteredTransport">No Transport planned</p>
        <h4>Start:</h4>
        <p>{{ startLocation?.name ?? "- - -" }}</p>
        <h4>Destination:</h4>
        <p>{{ endLocation?.name ?? "- - -" }}</p>
        <h4>Truck:</h4>
        <p>{{ filteredTransport?.truckId ?? "- - -" }}</p>
        <h4>Trailer:</h4>
        <p>{{ filteredTransport?.trailerId ?? "- - -" }}</p>
    </div>
    <div class="map-container">
        <div id="map"></div>
    </div>

</div>
