svg {
    position: absolute;
    right: 50px;
}

.flex-container {
    align-items: flex-start;
}

#spacer {
    padding: 10px 0 10px 0;
    background-color: var(--overlay);
    display: flex;
    flex-direction: row;
    align-items: center;
}



img {
    width: 80px;
}


nav a {
    padding: 10px 10px 10px 10px;
    display:inline-block;
    height: 20px;
    width: 80px;
    margin-left: 10px;
    border-radius: 2px;
    text-align: center;
    justify-content: center;
}

#dark-toggle {
    margin-right: 4vw;
    padding: 8px;

    height: 24px;
    width: 24px;

    border-radius: 50%;
    fill: var(--text-color);
    background-color: var(--overlay);
}

#dark-toggle:hover {
    background-color: var(--overlay-dark);
}
