<div id="spacer">
    <div class="bottom-nav">
        <!-- Centered links-->
        <div class="bottom-nav-centered">
            <a routerLink="/main">Main</a>
        </div>
        <!-- Left-aligned links (default) -->
        <div class="bottom-nav-left">
            <a routerLink="/">Home</a>
        </div>
        <!-- Right-aligned links-->
        <div class="bottom-nav-right">
            <a routerLink="/creator">Creator</a>
        </div>

    </div>

</div>
<p>&copy; powered by<a routerLink="/creator">us</a>with ❤️</p>
